.dice--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 800px;
    border: 1px solid black;
    padding: 50px;
    gap: 50px;
}

.dice {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.632);
}

.dice:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(0, 172, 0);
}